body{
	/*background: #000;*/
}

html,body{
  height: 100%;
  min-height: 100%;
}

.reset{margin: 0 !important;padding: 0 !important;}

.inset-s1{margin-top: 3px;}
.inset-s2{margin-top: 6px;}
.inset-s3{margin-top: 9px;}

.diaglog-close{
    font-size: 12px;
}

#asset-information-container{
	height: 100%;
}

#asset-information{
	position: absolute;
	width: 450px;
	/*border-right: 1px solid #ccc;*/
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    top: 0;
    z-index: 9999999;
}

#asset-information .row{
	margin: 0;
	padding: 0;
}

/*ASSET MENU*/
#asset-menu{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
}

#asset-menu a{
	border-bottom: 1px solid #ccc;
	display: block;
	text-align: center;
    padding: 1.1rem 0 0.6rem;
}

/*ASSET DETAILS*/
#asset-details{
	height: 100%;
	background-color: #fff;
	height: 100%;
	border-left: 1px solid #ccc;
	padding: 0;
}

#asset-headers{
	color: #fff;
}

#asset-headers label{
	color: #90caf9;
}

#asset-model,
#asset-destination{
	margin: 1.1rem 0;
}

#asset-destination hr{
	border: 0;
	border-top: 1px solid #ccc;
}

#estimated-time{
	padding: 0.5rem 0 0.1rem 0;
}

#eta-label{
    margin-top: 0.3rem;
    display: block;
}

#asset-page-title{
	margin-top: 7px;
	font-size: 1.4rem;
}


#asset-stats{
	font-size: 13px;
	position: relative;
}

.asset-stats-value{
	font-weight: bold;
	font-size: 100%;
}


#asset-stats .s6{
	padding: 0;
	margin: 0;
}

.asset-detail-separator{
	margin: 1rem 0;
	border-bottom: 1px solid #eee;
}


#asset-notification{
	padding: 1rem 0rem;
	color: #fff;
	margin-top: 15px;
	border-radius: 2px;
}

#asset-detail-fuel{
	height: 100%;
	overflow-y: auto;
}

.notification-item{
	border-bottom: 1px solid #ccc;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.notification-item .title,
.notification-item .description{
	font-weight: normal;
	font-size: 12px;
}

.notification-item.active .title,
.notification-item.active .description{
	font-weight: bold;
}

.notification-item .timestamp{
	font-weight: normal;
	font-size: 11px;
	color: #ccc;
}

.notification-notice{
	width: 8px;
	height: 8px;
	border-radius: 360px;
	background: #ccc;
	margin-top: 9px;
}

.notification-notice.info{
	background: #03a9f4;
}

.notification-notice.warning{
	background: #ffff00;
}

.notification-notice.success{
	background: #4caf50;
}

.notification-notice.critical{
	background: #f44336;
}


/*SEARCH*/
#asset-detail-search{
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

#asset-search{
	padding: 1.5rem;
	color: #fff;
	position: relative;
}

.result-list,
#asset-search-result{
	height: 100%
}

#asset-search input{
	background: #fff;
	border: 0;
	box-shadow: none;
	padding: 12px;
	margin: 0;
	color: #888;
	font-size: 14px;
	height: auto;
	border-radius: 3px;
}

#asset-search i{
	position: absolute;
	right: 2rem;
	top: 1.86rem;
	font-size: 30px;
}

.asset-search-item{
	font-size: 13px;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	margin: 1rem 0.5rem;
}
.asset-search-item .title{
	font-size: 13px;
	font-weight: bold
}

.asset-search-value{
	font-weight: bold;
}


/*GLOBAL NOTIFICATION*/

#global-notification{
    max-height: 100%;
    height: 100%;
    position: relative;
	overflow: auto;
}

#global-notification-header{
	color: #fff;
	font-size: 12px;
	padding: 0.2rem 0 1.5rem 0;
}

#global-notification-result{
	height: 100%;
}

.global-notification-item{
	font-size: 13px;
	margin: 1rem;
	border-bottom: 1px solid #ccc;
}

#global-notification .notification-notice{
	margin-top: 6px;
}

#global-notification .active .description,
.global-notification-value{
	font-weight: bold;
}


/*MAP ROUTES*/
#map-routes{
    height: 100%;
    overflow-y: auto;
}

#map-routes-header{
	padding: 0.1rem 0 1.5rem 0;
}

#map-routes-header,
#map-routes-header a{
	color: #fff;
}

/*#map-route-list{
	height: 100%;
}
*/
.map-route-remove{
	font-weight: bold;
	color: #ccc;
	display: none;
}

.map-routes-item:hover .map-route-remove{
	display: inline-block;
}

.map-routes-item{
	padding: 1rem 0 0;
	border-bottom: 1px solid #ccc;
}

.map-routes-item.open .map-routes-label{
	border-bottom: 1px solid #ccc;
}

.map-routes-label{
	font-size: 12px;
	color: #999;
	padding-bottom: 0.5rem;
}

.map-route-item{
	padding: 1rem 0 !important;
	border-bottom: 1px solid #ccc;
}

#map-route-add{
	font-size: 12px;
	font-weight: normal;
}

#map-routes-create-header{
	padding: 1.5rem 0;
	color: #fff;
}

#map-route-create-icon{
    position: relative;
    top: 7px;
}

#map-route-origin{
	border-bottom: 1px solid #fff;
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
}

#map-route-create-directions{
	max-height: 55%;
	height: 100%;
	overflow: auto;
}

.map-route-create-directions-item{
	font-size: 13px;
	padding: 1rem 0;
}

.map-route-create-directions-item hr{
	border: 0;
	border-bottom: 1px solid #ccc;
	margin-top: 9px;
}

.map-route-create-directions-item .distance{
	color: #999;
	font-size: 12px;
}

#map-routes [type="radio"]:checked+label:after, 
#map-routes [type="radio"].with-gap:checked+label:before, 
#map-routes [type="radio"].with-gap:checked+label:after {
    border: 2px solid #fff;
}

#map-routes [type="radio"]:checked+label:after, 
#map-routes [type="radio"].with-gap:checked+label:after {
    background-color: #fff;
}
 
/*EXCLUSION ZONE*/
.exclusion-item{
	margin: 0.5rem 1rem;
	border-bottom: 1px solid #ccc;
	padding: 0.5rem 0;
}

#exclusion-list{
	margin: 0 1rem;
}





/*MAIN MENU*/
#main-menu{
	margin: 0;
	padding: 0;
}

#main-menu a{
	display: block;
	text-align: center;
	padding: 1.4rem 0 1.2rem;
	padding: 5px 0 0px 0;
    width: 40px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 2px;
}

/*CLOSE*/
.close{
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
}

/*ICONS*/
.icons{
	background: url(../images/icon-sprite.png) no-repeat 0 0;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.icon-gauge{
	background-position: 0 -28px;
}

.icon-fuel{
	background-position: 0 -56px;
}

.icon-notification{
	background-position: 0 -84px;
}

.icon-search{
	background-position: 0 -112px;
}

.icon-routes{
	background-position: 0 -168px;
}

.icon-filter{
	background-position: 0 -196px;
}

.icon-zones{
	background-position: 0 -224px;
}

a.icon-active i,
.icon-active{
	background-position-x: -28px;
}

.icon-eta{
	background-position: -28px -280px;
}

.icon-direction{
	background-position: 0 -250px;
	height: 59px;
}

.icon-direction-arrow{
	background-position: -28px -252px;	
}


/*CLEARFIX*/
.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}