  <!-- NOTIFICATION -->
  <div id="asset-detail-fuel" class="row">
    <div id="asset-stats" class="col s12">

        <div id="asset-notification" class="clearfix blue">
          <div class="col s7">ASSET NOTIFICATION</div>
          <div class="col s1">|</div>
          <div class="col s4">3 NEW</div>
        </div>

        <div class="notification-item active clearfix">
          <div class="col s1"><div class="notification-notice success"></div></div>
          <div class="col s11">
            <h6 class="title">Unit GAT-X102</h6>
            <p class="description">Exceeded the configured speed limit 100km/hr by 12km/hr</p>
            <span class="timestamp gray">11:03 am</span>
          </div>
        </div>

        <div class="notification-item active clearfix">
          <div class="col s1"><div class="notification-notice warning"></div></div>
          <div class="col s11">
            <h6 class="title">Unit GAT-X105</h6>
            <p class="description">Exceeded the configured speed limit 100km/hr by 12km/hr</p>
            <span class="timestamp gray">11:03 am</span>
          </div>
        </div>

        <div class="notification-item active clearfix">
          <div class="col s1"><div class="notification-notice info"></div></div>
          <div class="col s11">
            <h6 class="title">Unit GAT-X109</h6>
            <p class="description">Exceeded the configured speed limit 100km/hr by 12km/hr</p>
            <span class="timestamp gray">11:03 am</span>
          </div>
        </div>

        <div class="notification-item  clearfix">
          <div class="col s1"><div class="notification-notice critical"></div></div>
          <div class="col s11">
            <h6 class="title">Unit GAT-X108</h6>
            <p class="description">Exceeded the configured speed limit 100km/hr by 12km/hr</p>
            <span class="timestamp gray">11:03 am</span>
          </div>
        </div>


    </div>
  </div>