<!-- SEARCH -->
<div id="asset-detail-search" class="row">
  <div id="asset-searchs" class="blue">
      <div class="right-align col s12"><a href="#" class="close diaglog-close">&times;</a></div>
      <div id="asset-search" class="clearfix ">
        <input id="asset-search-input" class="col s12" type="text" placeholder="Search Assets..." />
        <i id="asset-search-input-icon" class="material-icons grey-text">search</i>
      </div>
  </div>

  <div id="asset-search-result" class="col s12">

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>

    <div class="clearfix asset-search-item">
        <h5 class="title">Unit GAT-X105</h5>
        <div class="asset-search-stats">
          <div class="clearfix">
            <div class="col s6 reset">Operator: </div>
            <div class="col s6 asset-search-value">Ronald Serohijos</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Current Location: </div>
            <div class="col s6 asset-search-value">Clarin</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">Destination: </div>
            <div class="col s6 asset-search-value">Molave</div>
          </div>
          <div class="clearfix">
            <div class="col s6 reset">VPM Status: </div>
            <div class="col s6 asset-search-value">Normal</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
    </div>
  </div>
</div>

