<!-- MAP ROUTES LISTING -->
<div id="map-routes" class="row">
    <div id="map-routes-header" class="clearfix blue">
    <div class="right-align col s12"><a href="#" class="close diaglog-close">&times;</a></div>
        <div class="col s12">
          <h5>Map Routes</h5>
          <p class="clearfix">
            <div class="col s5 reset"><a href="#">Route List (5)</a></div>
            <div class="col s1">|</div>
            <div class="col s6 center-align"><a href="#">Scheduled (2)</a></div>
          </p>
        </div>
    </div>

    <div id="map-route-list" class="clearfix">

      <div class="col s12">
        <div class="map-routes-item open">
          <a href="#" class="right map-route-remove">&times;</a>
          <a href="#">Heavy Equipment Vehicles</a> 
          <div class="map-routes-label">(7 behicles listed)</div>

          <div class="clearfix">
            <div class="col offset-s1 s11 map-route-item">
              <a href="#">GAT-X101</a>

            </div>
          </div>

          <div class="clearfix">
            <div class="col offset-s1 s11 map-route-item">
              <a href="#">GAT-X103</a>

            </div>
          </div>

          <div class="clearfix">
            <div class="col offset-s1 s11 map-route-item">
              <a href="#">GAT-X102</a>
            </div>
          </div>

          <div class="clearfix">
            <p class="col offset-s1"><a id="map-route-add" href="#">+Add Vehicle on List</a></p>
          </div>
        </div>
      </div>

      <div class="col s12 clearfix">
        <div class="map-routes-item">
          <a href="#" class="right map-route-remove">&times;</a>
          <a href="#">Bus</a> 
          <div class="map-routes-label">(5323 behicles listed)</div>
        </div>
      </div>

      <div class="col s12 clearfix">
        <div class="map-routes-item">
          <a href="#" class="right map-route-remove">&times;</a>
          <a href="#">Trucks</a> 
          <div class="map-routes-label">(321 behicles listed)</div>
        </div>
      </div>

      <div class="clearfix">
        <div class="asset-detail-separator">&nbsp;</div>
        <div id="asset-stats" class="col s12">
          <button class="btn col s12 waves-effect waves-light">Create New Route</button>
        </div>
      </div>

    </div>

</div>
