<!-- CREATE MAP ROUTE -->
<div id="map-routes" class="row">
  <div id="map-routes-create-header" class="clearfix blue">
    <div class="col s12">
      <div class="col s12"><h5 class="title">Create Routes</h5></div>
      <div class="clearfix"><br>
        
        <div class="col s5 ">
          <input class="with-gap" name="group3" type="radio" id="group1"/>
          <label for="group1" class="white-text">Route</label>
        </div>
        <div class="col s5 ">
          <input class="with-gap white-text" name="group3" type="radio" id="group2"/>
          <label for="group2" class="white-text">Schedule</label>
        </div>
    </div>

    <div class="clearfix"><br>
      <div class="col s2"><div id="map-route-create-icon" class="icons icon-direction"></div></div>
      <div class="col s9">
        <div id="map-route-origin">Molave, Zamboanga</div>
        <div id="map-route-destination">Dipolog City</div>
      </div>
    </div>
     <br> 
    </div>
  </div>

  <div id="map-route-create-directions" class="clearfix">

      <div class="clearfix map-route-create-directions-item">
        <div class="col s2 center-align">x</div>
        <div class="col s9">Head Southwest
          <div class="clearfix">
            <div class="col s3 reset distance">1.0 km</div>
            <div class="col s9 reset"><hr></div>
          </div>
        </div>
      </div>

      <div class="clearfix map-route-create-directions-item">
        <div class="col s2 center-align">x</div>
        <div class="col s9">Turn left toward Capistrano St
          <div class="clearfix">
            <div class="col s3 reset distance">1.0 km</div>
            <div class="col s9 reset"><hr></div>
          </div>
        </div>
      </div>

      <div class="clearfix map-route-create-directions-item">
        <div class="col s2 center-align">x</div>
        <div class="col s9">Turn right toward Capistrano St
          <div class="clearfix">
            <div class="col s3 reset distance">1.0 km</div>
            <div class="col s9 reset"><hr></div>
          </div>
        </div>
      </div>

      <div class="clearfix map-route-create-directions-item">
        <div class="col s2 center-align">x</div>
        <div class="col s9">Turn up toward Capistrano St
          <div class="clearfix">
            <div class="col s3 reset distance">1.0 km</div>
            <div class="col s9 reset"><hr></div>
          </div>
        </div>
      </div>

      <div class="clearfix map-route-create-directions-item">
        <div class="col s2 center-align">x</div>
        <div class="col s9">Turn down toward Capistrano St
          <div class="clearfix">
            <div class="col s3 reset distance">1.0 km</div>
            <div class="col s9 reset"><hr></div>
          </div>
        </div>
      </div>
  </div>

  <div class="clearfix">
    <div class="asset-detail-separator">&nbsp;</div>
    <div id="asset-stats" class="col s12">
      <button class="btn col s12 waves-effect waves-light">Save</button>
      <button class="btn white col s12 black-text inset-s3">Cancel</button>
    </div>
  </div>

</div>