<div>
  <div class="blue">
  <div id="asset-headers">
        <div class="col s12">
          <div class="right-align"><a href="#" class="close">&times;</a></div>
        </div>

        <div  class="clearfix">
          <div class="col offset-s2">
            <label>UNIT OPERATOR</label>
            <div>John Hope Cena</div>
          </div>
        </div>

        <div id="asset-model" class="clearfix">
          <div class="col offset-s2">
            <label>MODEL NUMBER</label>
            <div>GATX-105</div>
          </div>
        </div>

        <div class="clearfix" id="asset-destination">
          <div class="col s2"><i class="icons icon-direction"></i></div>
          <div class="col s8">
            Pagadian City
            <hr>
            Ozamiz City
          </div>  
          <div class="col s2" style="padding-top:0.8rem;"><i class="icons icon-direction-arrow"></i></div>
        </div>

    <div id="estimated-time" class="rows  blue darken-1 clearfix" >
      <div class="col s2"><i class="icons icon-eta"></i></div>
      <div class="col s9">
        <span id="eta-label">ETA 1hr 56mins / 84.4 km</span>
      </div>
    </div>

  </div>
</div>



<!-- SPEED -->
<div id="asset-detail-speed" class="row">

  <div id="asset-stats" class="col s12">

    <h5 id="asset-page-title" class=" teal-text accent-4 ">Speed Stats</h5>
    
    <div class="clearfix">
      <div class="col s6 grey-text lighten-3">Current Speed:</div>
      <div class="col s6 asset-stats-value"> 85km/hr</div>
    </div>

    <div class="clearfix">
      <div class="col s6 grey-text lighten-3">Average Speed:</div>
      <div class="col s6 asset-stats-value"> 81km/hr</div>
    </div>

    <div class="clearfix">
      <div class="col s6 grey-text lighten-3">Highest Speed:</div>
      <div class="col s6 asset-stats-value"> 96km/hr</div>
    </div>

    <div class="clearfix">
      <div class="col s6 grey-text lighten-3">Vehicle Status:</div>
      <div class="col s6 asset-stats-value"> Accelerating</div>
    </div>

  </div>

  <div class="asset-detail-separator">&nbsp;</div>

  <div id="asset-stats" class="col s12">
  
    <button class="btn col s12 waves-effect waves-light">Show Route</button>
  
  </div>

</div>

</div>