
<!-- GLOBAL NOTIFICATION -->
<div id="global-notification" class="row">

  <div id="global-notification-header" class="clearfix blue">
    <div class="right-align col s12"><a href="#" class="close diaglog-close">&times;</a></div>
    <div class="col s7">GLOBAL NOTIFICATION</div>
    <div class="col s1">|</div>
    <div class="col s4">1 NEW</div>
  </div>

  <div id="global-notification-result">
    <div class="global-notification-item clearfix active">
      <div class="col s1"><div class="notification-notice warning"></div></div>
      <div class="col s11">
        <div class="clearfix">
          <div class="col s6 reset title">Unit GAT-X321</div>
          <div class="col s6 "><span class="time right">10:15 am</span></div>
        </div>
        <p class="description">Exceed the configured speed limit 100km/hr by 5km/hr</p>
        <div class="global-notification-stats">
          <div class="clearfix">
            <div class="col s5 reset">Operator:</div>
            <div class="col s7 global-notification-value"> John Mark Fajardo</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Location:</div>
            <div class="col s7 global-notification-value">Oroquita City</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Destination:</div>
            <div class="col s7 global-notification-value">Dipolog City</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
      </div>
    </div>

    <div class="global-notification-item clearfix">
      <div class="col s1"><div class="notification-notice warning"></div></div>
      <div class="col s11">
        <div class="clearfix">
          <div class="col s6 reset title">Unit GAT-X321</div>
          <div class="col s6 "><span class="time right">10:15 am</span></div>
        </div>
        <p class="description">Exceed the configured speed limit 100km/hr by 5km/hr</p>
        <div class="global-notification-stats">
          <div class="clearfix">
            <div class="col s5 reset">Operator:</div>
            <div class="col s7 global-notification-value"> John Mark Fajardo</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Location:</div>
            <div class="col s7 global-notification-value">Oroquita City</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Destination:</div>
            <div class="col s7 global-notification-value">Dipolog City</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
      </div>
    </div>

    <div class="global-notification-item clearfix">
      <div class="col s1"><div class="notification-notice success"></div></div>
      <div class="col s11">
        <div class="clearfix">
          <div class="col s6 reset title">Unit GAT-X321</div>
          <div class="col s6 "><span class="time right">10:15 am</span></div>
        </div>
        <p class="description">Exceed the configured speed limit 100km/hr by 5km/hr</p>
        <div class="global-notification-stats">
          <div class="clearfix">
            <div class="col s5 reset">Operator:</div>
            <div class="col s7 global-notification-value"> John Mark Fajardo</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Location:</div>
            <div class="col s7 global-notification-value">Oroquita City</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Destination:</div>
            <div class="col s7 global-notification-value">Dipolog City</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
      </div>
    </div>

    <div class="global-notification-item clearfix">
      <div class="col s1"><div class="notification-notice critical"></div></div>
      <div class="col s11">
        <div class="clearfix">
          <div class="col s6 reset title">Unit GAT-X321</div>
          <div class="col s6 "><span class="time right">10:15 am</span></div>
        </div>
        <p class="description">Exceed the configured speed limit 100km/hr by 5km/hr</p>
        <div class="global-notification-stats">
          <div class="clearfix">
            <div class="col s5 reset">Operator:</div>
            <div class="col s7 global-notification-value"> John Mark Fajardo</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Location:</div>
            <div class="col s7 global-notification-value">Oroquita City</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Destination:</div>
            <div class="col s7 global-notification-value">Dipolog City</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
      </div>
    </div>

    <div class="global-notification-item clearfix">
      <div class="col s1"><div class="notification-notice warning"></div></div>
      <div class="col s11">
        <div class="clearfix">
          <div class="col s6 reset title">Unit GAT-X321</div>
          <div class="col s6 "><span class="time right">10:15 am</span></div>
        </div>
        <p class="description">Exceed the configured speed limit 100km/hr by 5km/hr</p>
        <div class="global-notification-stats">
          <div class="clearfix">
            <div class="col s5 reset">Operator:</div>
            <div class="col s7 global-notification-value"> John Mark Fajardo</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Location:</div>
            <div class="col s7 global-notification-value">Oroquita City</div>
          </div>
          <div class="clearfix">
            <div class="col s5 reset">Destination:</div>
            <div class="col s7 global-notification-value">Dipolog City</div>
          </div>
        </div>
        <p><a href="#">Show Asset Details</a></p>
      </div>
    </div>
  </div>

</div>