<div>
  <div class="blue">
      <div id="asset-headers">
            <div class="col s12">
              <div class="right-align"><a href="#" class="close">&times;</a></div>
            </div>

            <div  class="clearfix">
              <div class="col offset-s2">
                <label>UNIT OPERATOR</label>
                <div>John Hope Cena</div>
              </div>
            </div>

            <div id="asset-model" class="clearfix">
              <div class="col offset-s2">
                <label>MODEL NUMBER</label>
                <div>GATX-105</div>
              </div>
            </div>

            <div class="clearfix" id="asset-destination">
              <div class="col s2"><i class="icons icon-direction"></i></div>
              <div class="col s8">
                Pagadian City
                <hr>
                Ozamiz City
              </div>  
              <div class="col s2" style="padding-top:0.8rem;"><i class="icons icon-direction-arrow"></i></div>
            </div>

        <div id="estimated-time" class="rows  blue darken-1 clearfix" >
          <div class="col s2"><i class="icons icon-eta"></i></div>
          <div class="col s9">
            <span id="eta-label">ETA 1hr 56mins / 84.4 km</span>
          </div>
        </div>

      </div>
    </div>


 <!-- LOCATION -->
  <div id="asset-detail-location" class="row">

    <div id="asset-stats" class="col s12">

      <h5 id="asset-page-title" class=" teal-text accent-4 ">Destination</h5>
      
      <div class="clearfix">
        <div class="col s6 grey-text lighten-3">Current location:</div>
        <div class="col s6 asset-stats-value"> Tangub City</div>
      </div>

      <div class="clearfix">
        <div class="col s6 grey-text lighten-3">Distance travelled:</div>
        <div class="col s6 asset-stats-value"> 3.1km</div>
      </div>

      <div class="clearfix">
        <div class="col s6 grey-text lighten-3">Latitude:</div>
        <div class="col s6 asset-stats-value"> 762356345</div>
      </div>

      <div class="clearfix">
        <div class="col s6 grey-text lighten-3">Longtitude:</div>
        <div class="col s6 asset-stats-value"> 95678933</div>
      </div>

      <div class="clearfix">
        <div class="col s6 grey-text lighten-3">Route Plan:</div>
        <div class="col s6 asset-stats-value"> Bus daily route</div>
      </div>
    </div>

    <div class="asset-detail-separator">&nbsp;</div>

    <div id="asset-stats" class="col s12">
    
      <button class="btn col s12 waves-effect waves-light">Show Route</button>
    
    </div>

  </div>























</div>