<!-- MAP FILTER -->
<div id="map-filter">
    <div id="map-routes-header" class="clearfix blue">
    <div class="right-align col s12"><a href="#" class="close diaglog-close">&times;</a></div>
        <div class="col s12">
          <h5>Map Filter</h5>
        </div>
    </div>

    <div class="clearfix row">
      <div class="col s12">

          <div class="filter-group inset-s3">
            <h5>Route</h5>
              <ul class="collection">
                <li class="collection-item">Route <div class="right"><input class="with-gap" name="group3" type="checkbox" id="c2" checked /><label style="padding-left: 15px" for="c2"></label></div></li>
                <li class="collection-item">Schedlued <div class="right"><input class="with-gap" name="group3" type="checkbox" id="c1"  /><label style="padding-left: 15px" for="c1"></label></div></li>
                <li class="collection-item">Travelled <div class="right"><input class="with-gap" name="group3" type="checkbox" id="c3" checked /><label style="padding-left: 15px" for="c3"></label></div></li>
              </ul>
          </div>

          <div class="filter-group inset-s3">
            <h5>Asset Type</h5>
              <ul class="collection">
                <li class="collection-item">Utility Vehicle <div class="right"><input class="with-gap" name="group3" type="checkbox" id="cw2"  /><label style="padding-left: 15px" for="cw2"></label></div></li>
                <li class="collection-item">Heavy Equipment Vehicle <div class="right"><input class="with-gap" name="group3" type="checkbox" id="cs1" checked /><label style="padding-left: 15px" for="cs1"></label></div></li>
              </ul>
          </div>

          <div class="filter-group inset-s3">
            <h5>Zone</h5>
              <ul class="collection">
                <li class="collection-item">Exclusion <div class="right"><input class="with-gap" name="cw312" type="checkbox" id="cw312"  /><label style="padding-left: 15px" for="cw312"></label></div></li>
                <li class="collection-item">Inclusion <div class="right"><input class="with-gap" name="group3" type="checkbox" id="cw1" checked /><label style="padding-left: 15px" for="cw1"></label></div></li>
              </ul>
          </div>
      </div>
    </div>

  <div class="clearfix">
    <div class="asset-detail-separator">&nbsp;</div>
    <div id="asset-stats" class="col s12">
      <button class="btn col s12 waves-effect waves-light">Apply Filter</button>
    </div>
  </div>
</div>
