<!-- EXCLUSION ZONES -->
<div id="map-routes" class="row">

    <div id="map-routes-header" class="clearfix blue">
    <div class="right-align col s12"><a href="#" class="close diaglog-close">&times;</a></div>
        <div class="col s12">
          <h5>Exclusion Zones</h5>
          <p class="clearfix">
            <div class="col s5 reset"><a href="#">Inclusion (5)</a></div>
            <div class="col s1">|</div>
            <div class="col s6 center-align"><a href="#">Exclusion (2)</a></div>
          </p>
        </div>
    </div>

    <div id="exclusion-list" class="clearfix">
      
        <div class="map-routes-item open">
          <a href="#" class="right map-route-remove">&times;</a>
          <a href="#">Exclusion Zone 32</a> 
          <div class="map-routes-label">(7 behicles listed)</div>

          <div class="clearfix">
            <div class="col offset-s1 s11 map-route-item">
              <a href="#">GAT-X101</a>

            </div>
          </div>

          <div class="clearfix">
            <div class="col offset-s1 s11 map-route-item">
              <a href="#">GAT-X103</a>

            </div>
          </div>

          <div class="clearfix">
            <div class="col offset-s1 s11 map-route-item">
              <a href="#">GAT-X102</a>
            </div>
          </div>

          <div class="clearfix">
            <p class="col offset-s1"><a id="map-route-add" href="#">+Add Vehicle on List</a></p>
          </div>
        </div>

        <div class="map-routes-item ">
          <a href="#" class="right map-route-remove">&times;</a>
          <a href="#">Inclusion Zone 2</a> 
          <div class="map-routes-label">(23 behicles listed)</div>
        </div>

        <div class="map-routes-item ">
          <a href="#" class="right map-route-remove">&times;</a>
          <a href="#">Exclusion Zone 321</a> 
          <div class="map-routes-label">(23 behicles listed)</div>
        </div>

      </div>
</div>
